contourpy==1.3.3
cycler==0.12.1
emcee==3.1.6
fonttools==4.60.1
kiwisolver==1.4.9
-e git+https://github.com/lrspeiser/lgpd_cosmo.git@fa1756a4a89c4fbdb597b2f5a805241f66051627#egg=lgpd_cosmo
matplotlib==3.10.6
numpy==2.3.3
packaging==25.0
pillow==11.3.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
wheel==0.45.1
